# Title: Used Vehicle Data Exploration


This project is an assignment. We're asked to develop and deploy a web application to a cloud service so that it is accessible to the public.

With the attached dataset on used car sales, we're asked to perform some basic exploratory data analysis of the dataset and then create a couple of histograms and scatterplots using plotly-express library.

# Setup

**From data exploration to web app!** This app performs simple explorations of used vehicle data.  
- **Python libraries:** pandas, plotly.express, streamlit  
- **Data source:** [Practicum content](https://practicum-content.s3.us-west-1.amazonaws.com/datasets/vehicles_us.csv)

In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# Data Loading

## Load the data

In [2]:
# Load the data
df = pd.read_csv('../vehicles_us.csv')

The design of the dataset wasn't described, so we'll use several functions to get an understanding of the size, columns, and datatypes.

In [3]:
# Explore the size of the dataset
df.shape

(51525, 13)

In [4]:
# Get some information about the columns, data contained, and datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

# Data Preprocessing

## Identify missing values

In [5]:
# Examine the data: See what information we have
df.head(30)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
5,14990,2014.0,chrysler 300,excellent,6.0,gas,57954.0,automatic,sedan,black,1.0,2018-06-20,15
6,12990,2015.0,toyota camry,excellent,4.0,gas,79212.0,automatic,sedan,white,NaN,2018-12-27,73
7,15990,2013.0,honda pilot,excellent,6.0,gas,109473.0,automatic,SUV,black,1.0,2019-01-07,68
8,11500,2012.0,kia sorento,excellent,4.0,gas,104174.0,automatic,SUV,NaN,1.0,2018-07-16,19
9,9200,2008.0,honda pilot,excellent,NaN,gas,147191.0,automatic,SUV,blue,1.0,2019-02-15,17
10,19500,2011.0,chevrolet silverado 1500,excellent,8.0,gas,128413.0,automatic,pickup,black,1.0,2018-09-17,38
11,8990,2012.0,honda accord,excellent,4.0,gas,111142.0,automatic,sedan,grey,NaN,2019-03-28,29
12,18990,2012.0,ram 1500,excellent,8.0,gas,140742.0,automatic,pickup,NaN,1.0,2019-04-02,37
13,16500,2018.0,hyundai sonata,excellent,4.0,gas,22104.0,automatic,sedan,silver,NaN,2019-01-14,29
14,12990,2009.0,gmc yukon,excellent,8.0,gas,132285.0,automatic,SUV,black,1.0,2019-01-31,24
15,17990,2013.0,ram 1500,excellent,8.0,gas,NaN,automatic,pickup,red,1.0,2018-05-15,111
16,14990,2010.0,ram 1500,excellent,8.0,gas,130725.0,automatic,pickup,red,1.0,2018-12-30,13
17,13990,2014.0,jeep cherokee,excellent,6.0,gas,100669.0,automatic,SUV,red,1.0,2018-08-16,25
18,12500,2013.0,chevrolet traverse,excellent,6.0,gas,128325.0,automatic,SUV,white,1.0,2019-04-09,13
19,13990,2018.0,hyundai elantra,excellent,4.0,gas,31932.0,automatic,sedan,red,NaN,2018-08-25,27
20,6990,NaN,chevrolet tahoe,excellent,8.0,gas,147485.0,automatic,SUV,silver,1.0,2018-08-05,28
21,5250,2007.0,toyota rav4,good,6.0,gas,154000.0,automatic,SUV,NaN,NaN,2018-08-22,8
22,7500,2004.0,chevrolet silverado,like new,8.0,gas,180000.0,automatic,truck,red,1.0,2019-01-05,64
23,7500,2004.0,jeep wrangler,good,6.0,gas,NaN,automatic,SUV,red,1.0,2018-05-17,39
24,3950,2009.0,chrysler 200,excellent,4.0,gas,NaN,automatic,sedan,red,NaN,2018-06-11,40
25,11499,2017.0,chevrolet malibu,like new,4.0,gas,NaN,automatic,sedan,NaN,NaN,2018-07-26,43
26,8499,2014.0,ford fusion se,like new,4.0,gas,79523.0,automatic,sedan,red,NaN,2018-10-25,23
27,12999,2015.0,chevrolet impala,like new,6.0,gas,39368.0,automatic,sedan,custom,NaN,2018-05-19,42
28,29800,2012.0,chevrolet corvette,excellent,8.0,gas,57413.0,automatic,coupe,orange,NaN,2018-10-22,101
29,5495,2010.0,chevrolet impala,excellent,6.0,gas,NaN,automatic,sedan,white,NaN,2019-02-18,20

In [6]:
# Look for missing values
df.isnull().sum()

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

## Check for duplicates

In [7]:
# Check for duplicates
df.duplicated().sum()

0

## Replacing missing values

We have some missing values to address, but no apparent duplicates in the data. Replacing the NaNs below:

In [8]:
# Replace NaNs in 'model_year' with the median year
median_year = df['model_year'].median()
df['model_year'] = df['model_year'].fillna(median_year)

In [9]:
# Replace the NaNs in 'cyclinder' with the median number of cylinders for the vehicle model. 

# Calculate the median cylinders by model and use transform to replace the NaN the original DataFrame
df['cylinders'] = df.groupby('model')['cylinders'].transform(lambda x: x.fillna(x.median()))

In [10]:
# Check our work 
df['cylinders'].unique()

array([ 6.,  4.,  8.,  5., 10.,  3., 12.])

In [11]:
# Replace NaNs in 'odometer' with the mean value grouped by 'model_year' and 'model'
df['odometer'] = df.groupby(['model_year', 'model'])['odometer'].transform(lambda x: x.fillna(round(x.mean(), 2)))

In [12]:
# In checking my work, I noticed we need to round the decimal places for the odometer values.
#df['odometer'] = df['odometer'].round(decimals=2)

In [13]:
# Reset the index
df.reset_index(drop=True, inplace=True)

In [14]:
# Check our work
df.head(50)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.00,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,2011.0,ford f-150,good,6.0,gas,88705.00,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.00,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,175165.50,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.00,automatic,sedan,black,NaN,2019-04-02,28
5,14990,2014.0,chrysler 300,excellent,6.0,gas,57954.00,automatic,sedan,black,1.0,2018-06-20,15
6,12990,2015.0,toyota camry,excellent,4.0,gas,79212.00,automatic,sedan,white,NaN,2018-12-27,73
7,15990,2013.0,honda pilot,excellent,6.0,gas,109473.00,automatic,SUV,black,1.0,2019-01-07,68
8,11500,2012.0,kia sorento,excellent,4.0,gas,104174.00,automatic,SUV,NaN,1.0,2018-07-16,19
9,9200,2008.0,honda pilot,excellent,6.0,gas,147191.00,automatic,SUV,blue,1.0,2019-02-15,17
10,19500,2011.0,chevrolet silverado 1500,excellent,8.0,gas,128413.00,automatic,pickup,black,1.0,2018-09-17,38
11,8990,2012.0,honda accord,excellent,4.0,gas,111142.00,automatic,sedan,grey,NaN,2019-03-28,29
12,18990,2012.0,ram 1500,excellent,8.0,gas,140742.00,automatic,pickup,NaN,1.0,2019-04-02,37
13,16500,2018.0,hyundai sonata,excellent,4.0,gas,22104.00,automatic,sedan,silver,NaN,2019-01-14,29
14,12990,2009.0,gmc yukon,excellent,8.0,gas,132285.00,automatic,SUV,black,1.0,2019-01-31,24
15,17990,2013.0,ram 1500,excellent,8.0,gas,101818.14,automatic,pickup,red,1.0,2018-05-15,111
16,14990,2010.0,ram 1500,excellent,8.0,gas,130725.00,automatic,pickup,red,1.0,2018-12-30,13
17,13990,2014.0,jeep cherokee,excellent,6.0,gas,100669.00,automatic,SUV,red,1.0,2018-08-16,25
18,12500,2013.0,chevrolet traverse,excellent,6.0,gas,128325.00,automatic,SUV,white,1.0,2019-04-09,13
19,13990,2018.0,hyundai elantra,excellent,4.0,gas,31932.00,automatic,sedan,red,NaN,2018-08-25,27
20,6990,2011.0,chevrolet tahoe,excellent,8.0,gas,147485.00,automatic,SUV,silver,1.0,2018-08-05,28
21,5250,2007.0,toyota rav4,good,6.0,gas,154000.00,automatic,SUV,NaN,NaN,2018-08-22,8
22,7500,2004.0,chevrolet silverado,like new,8.0,gas,180000.00,automatic,truck,red,1.0,2019-01-05,64
23,7500,2004.0,jeep wrangler,good,6.0,gas,112205.74,automatic,SUV,red,1.0,2018-05-17,39
24,3950,2009.0,chrysler 200,excellent,4.0,gas,NaN,automatic,sedan,red,NaN,2018-06-11,40
25,11499,2017.0,chevrolet malibu,like new,4.0,gas,41475.58,automatic,sedan,NaN,NaN,2018-07-26,43
26,8499,2014.0,ford fusion se,like new,4.0,gas,79523.00,automatic,sedan,red,NaN,2018-10-25,23
27,12999,2015.0,chevrolet impala,like new,6.0,gas,39368.00,automatic,sedan,custom,NaN,2018-05-19,42
28,29800,2012.0,chevrolet corvette,excellent,8.0,gas,57413.00,automatic,coupe,orange,NaN,2018-10-22,101
29,5495,2010.0,chevrolet impala,excellent,6.0,gas,140055.64,automatic,sedan,white,NaN,2019-02-18,20
30,5000,2009.0,jeep liberty,good,6.0,gas,137273.00,automatic,SUV,white,1.0,2019-02-19,14
31,11999,2017.0,toyota camry le,excellent,4.0,gas,35721.00,automatic,sedan,NaN,NaN,2018-09-13,25
32,9499,2015.0,nissan altima,like new,4.0,gas,51848.00,automatic,sedan,grey,NaN,2018-11-12,7
33,3890,2011.0,subaru outback,excellent,4.0,gas,300000.00,automatic,SUV,white,1.0,2018-12-25,31
34,9500,2008.0,toyota highlander,good,6.0,gas,149799.00,automatic,SUV,NaN,NaN,2018-06-04,121
35,14999,2015.0,dodge charger,good,6.0,gas,63037.00,automatic,sedan,NaN,NaN,2018-05-11,37
36,10499,2013.0,chrysler 300,good,6.0,gas,88042.00,automatic,sedan,NaN,NaN,2018-05-05,22
37,7500,2005.0,toyota tacoma,good,6.0,gas,160000.00,automatic,pickup,NaN,NaN,2018-07-22,44
38,7999,2015.0,chrysler 200,good,4.0,gas,72909.40,automatic,sedan,NaN,NaN,2019-03-08,29
39,8000,2009.0,ford f-150,good,8.0,gas,234000.00,automatic,truck,black,1.0,2019-03-31,1
40,11499,2017.0,chevrolet equinox,like new,4.0,gas,54772.00,automatic,SUV,grey,1.0,2019-01-12,36
41,11995,2017.0,nissan rogue,like new,4.0,gas,39551.35,automatic,SUV,silver,1.0,2018-09-20,21
42,34900,2013.0,mercedes-benz benze sprinter 2500,excellent,6.0,diesel,NaN,automatic,van,black,NaN,2019-01-15,16
43,5100,2008.0,honda cr-v,excellent,4.0,gas,188000.00,automatic,SUV,red,1.0,2018-11-18,10
44,4500,2004.0,jeep grand cherokee,good,6.0,gas,168821.00,automatic,SUV,NaN,1.0,2019-01-31,60
45,2400,2001.0,toyota camry,good,4.0,gas,277564.00,automatic,coupe,yellow,NaN,2018-05-27,51
46,11200,2015.0,dodge charger,excellent,6.0,gas,90302.00,automatic,sedan,black,1.0,2018-07-19,73
47,12500,2008.0,toyota 4runner,good,6.0,gas,141098.00,automatic,SUV,grey,NaN,2019-03-10,35
48,9500,2014.0,ford focus,excellent,4.0,diesel,46000.00,automatic,sedan,NaN,NaN,2018-10-09,24
49,3200,2006.0,honda civic,excellent,4.0,gas,255390.00,automatic,sedan,blue,NaN,2018-10-18,23

In [15]:
# Replace the NaNs in 'paint_color' 'unknown'
df['paint_color'] = df['paint_color'].fillna('unknown')

In [16]:
# Explore 4wd values to see what's listed
df['is_4wd'].unique()

array([ 1., nan])

In [17]:
# Replace NaNs in 'is_4wd' with 0
df['is_4wd'] = df['is_4wd'].fillna(0)

In [18]:
# Change 'is_4wd' to boolean
df['is_4wd'] = df['is_4wd'].astype(bool)

In [19]:
# Change date_posted from object to datetime
df['date_posted'] = pd.to_datetime(df['date_posted'],format='%Y-%m-%d')

In [20]:
# Change model year from float to int
df['model_year'] = df['model_year'].astype('int')

In [21]:
# Create a 'make' column for the manufacturers
df['make'] = df['model'].str.split(' ', expand=True)[0]

In [22]:
# Change 'make' to a category dtype
df['make'] = df['make'].astype('category')

In [23]:
# Reset the index
df.reset_index(drop=True, inplace=True)

## Review the preprocessed data

In [24]:
# Check our work
df.head(50)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,make
0,9400,2011,bmw x5,good,6.0,gas,145000.00,automatic,SUV,unknown,True,2018-06-23,19,bmw
1,25500,2011,ford f-150,good,6.0,gas,88705.00,automatic,pickup,white,True,2018-10-19,50,ford
2,5500,2013,hyundai sonata,like new,4.0,gas,110000.00,automatic,sedan,red,False,2019-02-07,79,hyundai
3,1500,2003,ford f-150,fair,8.0,gas,175165.50,automatic,pickup,unknown,False,2019-03-22,9,ford
4,14900,2017,chrysler 200,excellent,4.0,gas,80903.00,automatic,sedan,black,False,2019-04-02,28,chrysler
5,14990,2014,chrysler 300,excellent,6.0,gas,57954.00,automatic,sedan,black,True,2018-06-20,15,chrysler
6,12990,2015,toyota camry,excellent,4.0,gas,79212.00,automatic,sedan,white,False,2018-12-27,73,toyota
7,15990,2013,honda pilot,excellent,6.0,gas,109473.00,automatic,SUV,black,True,2019-01-07,68,honda
8,11500,2012,kia sorento,excellent,4.0,gas,104174.00,automatic,SUV,unknown,True,2018-07-16,19,kia
9,9200,2008,honda pilot,excellent,6.0,gas,147191.00,automatic,SUV,blue,True,2019-02-15,17,honda
10,19500,2011,chevrolet silverado 1500,excellent,8.0,gas,128413.00,automatic,pickup,black,True,2018-09-17,38,chevrolet
11,8990,2012,honda accord,excellent,4.0,gas,111142.00,automatic,sedan,grey,False,2019-03-28,29,honda
12,18990,2012,ram 1500,excellent,8.0,gas,140742.00,automatic,pickup,unknown,True,2019-04-02,37,ram
13,16500,2018,hyundai sonata,excellent,4.0,gas,22104.00,automatic,sedan,silver,False,2019-01-14,29,hyundai
14,12990,2009,gmc yukon,excellent,8.0,gas,132285.00,automatic,SUV,black,True,2019-01-31,24,gmc
15,17990,2013,ram 1500,excellent,8.0,gas,101818.14,automatic,pickup,red,True,2018-05-15,111,ram
16,14990,2010,ram 1500,excellent,8.0,gas,130725.00,automatic,pickup,red,True,2018-12-30,13,ram
17,13990,2014,jeep cherokee,excellent,6.0,gas,100669.00,automatic,SUV,red,True,2018-08-16,25,jeep
18,12500,2013,chevrolet traverse,excellent,6.0,gas,128325.00,automatic,SUV,white,True,2019-04-09,13,chevrolet
19,13990,2018,hyundai elantra,excellent,4.0,gas,31932.00,automatic,sedan,red,False,2018-08-25,27,hyundai
20,6990,2011,chevrolet tahoe,excellent,8.0,gas,147485.00,automatic,SUV,silver,True,2018-08-05,28,chevrolet
21,5250,2007,toyota rav4,good,6.0,gas,154000.00,automatic,SUV,unknown,False,2018-08-22,8,toyota
22,7500,2004,chevrolet silverado,like new,8.0,gas,180000.00,automatic,truck,red,True,2019-01-05,64,chevrolet
23,7500,2004,jeep wrangler,good,6.0,gas,112205.74,automatic,SUV,red,True,2018-05-17,39,jeep
24,3950,2009,chrysler 200,excellent,4.0,gas,NaN,automatic,sedan,red,False,2018-06-11,40,chrysler
25,11499,2017,chevrolet malibu,like new,4.0,gas,41475.58,automatic,sedan,unknown,False,2018-07-26,43,chevrolet
26,8499,2014,ford fusion se,like new,4.0,gas,79523.00,automatic,sedan,red,False,2018-10-25,23,ford
27,12999,2015,chevrolet impala,like new,6.0,gas,39368.00,automatic,sedan,custom,False,2018-05-19,42,chevrolet
28,29800,2012,chevrolet corvette,excellent,8.0,gas,57413.00,automatic,coupe,orange,False,2018-10-22,101,chevrolet
29,5495,2010,chevrolet impala,excellent,6.0,gas,140055.64,automatic,sedan,white,False,2019-02-18,20,chevrolet
30,5000,2009,jeep liberty,good,6.0,gas,137273.00,automatic,SUV,white,True,2019-02-19,14,jeep
31,11999,2017,toyota camry le,excellent,4.0,gas,35721.00,automatic,sedan,unknown,False,2018-09-13,25,toyota
32,9499,2015,nissan altima,like new,4.0,gas,51848.00,automatic,sedan,grey,False,2018-11-12,7,nissan
33,3890,2011,subaru outback,excellent,4.0,gas,300000.00,automatic,SUV,white,True,2018-12-25,31,subaru
34,9500,2008,toyota highlander,good,6.0,gas,149799.00,automatic,SUV,unknown,False,2018-06-04,121,toyota
35,14999,2015,dodge charger,good,6.0,gas,63037.00,automatic,sedan,unknown,False,2018-05-11,37,dodge
36,10499,2013,chrysler 300,good,6.0,gas,88042.00,automatic,sedan,unknown,False,2018-05-05,22,chrysler
37,7500,2005,toyota tacoma,good,6.0,gas,160000.00,automatic,pickup,unknown,False,2018-07-22,44,toyota
38,7999,2015,chrysler 200,good,4.0,gas,72909.40,automatic,sedan,unknown,False,2019-03-08,29,chrysler
39,8000,2009,ford f-150,good,8.0,gas,234000.00,automatic,truck,black,True,2019-03-31,1,ford
40,11499,2017,chevrolet equinox,like new,4.0,gas,54772.00,automatic,SUV,grey,True,2019-01-12,36,chevrolet
41,11995,2017,nissan rogue,like new,4.0,gas,39551.35,automatic,SUV,silver,True,2018-09-20,21,nissan
42,34900,2013,mercedes-benz benze sprinter 2500,excellent,6.0,diesel,NaN,automatic,van,black,False,2019-01-15,16,mercedes-benz
43,5100,2008,honda cr-v,excellent,4.0,gas,188000.00,automatic,SUV,red,True,2018-11-18,10,honda
44,4500,2004,jeep grand cherokee,good,6.0,gas,168821.00,automatic,SUV,unknown,True,2019-01-31,60,jeep
45,2400,2001,toyota camry,good,4.0,gas,277564.00,automatic,coupe,yellow,False,2018-05-27,51,toyota
46,11200,2015,dodge charger,excellent,6.0,gas,90302.00,automatic,sedan,black,True,2018-07-19,73,dodge
47,12500,2008,toyota 4runner,good,6.0,gas,141098.00,automatic,SUV,grey,False,2019-03-10,35,toyota
48,9500,2014,ford focus,excellent,4.0,diesel,46000.00,automatic,sedan,unknown,False,2018-10-09,24,ford
49,3200,2006,honda civic,excellent,4.0,gas,255390.00,automatic,sedan,blue,False,2018-10-18,23,honda

### Confirm the datatypes

In [25]:
# Check our datatypes -- Streamlit/ PyArrow had trouble with ints in testing 
df.dtypes

price                    int64
model_year               int64
model                   object
condition               object
cylinders              float64
fuel                    object
odometer               float64
transmission            object
type                    object
paint_color             object
is_4wd                    bool
date_posted     datetime64[ns]
days_listed              int64
make                  category
dtype: object

# Exploratory Data Analysis

Goals for this exploratory analysis are to gain an understanding of the information displayed in this table.

## Summary statistics

In [26]:
vehicles_df.describe()

NameError: name 'vehicles_df' is not defined

In [ ]:
# In testing the app, I needed an extra reset of the index in Streamlit, an issue I didn't have in this notebook. 

# Creating a dataframe of preprocessed data
vehicles_df = df.reset_index()

## Number of ads per manufacturer

I wondered if exploring the data through the filter of the manufacturer (make of the car) would be interesting.

In [ ]:
# How many ads per manufacturer (make)?
vehicles_df['make'].value_counts()

**Conclusion:** It seems there are quite a few data points here and a large number of manufacturers.



## Exploring the dataset by year

With such a large set of data, I thought it would be interesting to allow someone to filter the information by a desired year as well as all years. 



### Creating a function to filter the data for selected years

In [ ]:
# Creating a function to filter and show data for the selected year
def filtered_df(vehicles_df, selected_year=None):
    if selected_year is not None:
        filtered_df = vehicles_df[vehicles_df['model_year'] == selected_year]
    else:
        filtered_df = vehicles_df
    return filtered_df
    


#Test output
selected_year = None
filtered_df = filtered_df(vehicles_df, selected_year)
print("testing filtered dataframe with data from ", selected_year, filtered_df)

## General information about the data set (for all years)

**Displaying the data.** In the assignment we're asked to display a dataframe. I thought it would be meaningful to allow someone to filter the data. 

Looking at the entire dataset and seeing what might be compelling by examining several averages using average price, vehicle condition, average days listed, fuel types.

In [ ]:
# Average price by vehicle type
avg_price_by_type = vehicles_df.groupby('type')['price'].mean().reset_index()

In [ ]:
# Distribution of vehicle condition
condition_distribution = vehicles_df['condition'].value_counts().reset_index()
condition_distribution.columns = ['condition', 'count']

In [ ]:
# Average days listed by vehicle type
avg_days_by_type = vehicles_df.groupby('type')['days_listed'].mean().sort_values().reset_index()
avg_days_by_type.head()

In [ ]:
# Create a bar chart of vehicle prices by type
fig_price = px.bar(avg_price_by_type, x='type', y='price', title='Average Price by Vehicle Type')
#st.plotly_chart(fig_price)

fig_price.show()

In [ ]:
# Create a pie chart for vehicle conditions

fig_condition = px.pie(condition_distribution, values='count', names='condition', title='Distribution of Vehicle Conditions')
#st.plotly_chart(fig_condition)

fig_condition.show()

In [ ]:
# Create a bar chart for average days listed by vehicle type

fig_avg_test = px.bar(avg_days_by_type, x='type', y='days_listed', title='Average Days Listed by Vehicle Type')
#st.plotly_chart(fig_avg_test)

fig_avg_test.show()

In [ ]:
# Explore count of vehicles by type and fuel


pivot_table = vehicles_df.pivot_table(values='model_year', 
                               index='fuel', 
                               columns='type', 
                               aggfunc='count',
                               fill_value = 0
                              )

pivot_table

# Data Visualizations

**Displaying the data.** In the assignment we're asked to display a dataframe. I thought it would be meaningful to allow someone to filter the data. 

I'll make selection boxes in the app, but here I wanted to use the notebook to test out creating the filters and making sure they worked before adding the input elements from Streamlit.

## Display the user selected dataframe (selected make and condition)

In [ ]:
selected_make = ['bmw', 'chevrolet']
selected_condition = ['good']

#Create and display a dataframe of filtered data by car manufacturer and the condition.
df_selected_make = vehicles_df[(vehicles_df.make.isin(selected_make)) & (vehicles_df.condition.isin(selected_condition))]

df_selected_make.head()

**Conclusion:** While this is interesting, I learned that charts created Streamlist + Plotly Express allow someone to filter by 'color' and I can use the data from the 'condition' column within each chart.

## Histograms

As part of the assignment, we're asked to display a histogram that differs from the lesson example. We're also asked to incorporate a checkbox into the visualization, which I'll use to display a normalized view of the dataset.  

I explored a few different options: days listed by condition, price, vehicle condition by fuel type. I also explored a couple of different normalization options: probability, percentage, as noted below. 

### Days Listed by Condition

In [ ]:
# Creating a function to simulate the checkbox action of showing the normalized view of the data
normalize_histogram = False

if normalize_histogram: 
    histnorm = 'probability'
    title='Normalized Histogram of Days Listed by Condition '
else:
    histnorm = ''
    title='Distribution of Days Listed by Condition '

# Create a histogram of days listed by condition    
fig = px.histogram(vehicles_df, x='days_listed', color='condition', histnorm=histnorm, title=title)
fig.show()

In [ ]:
#Testing with a sample selection of data, if someone selected a manufacturer from the filter
fig2 = px.histogram(df_selected_make, x='days_listed', color='condition', histnorm=histnorm, title=title)

fig2.show()

**Conclusion:** Testing the same histogram as normalized. I think the 'probability' option for normalizing the data is interesting because it shows the likelihood of the vehicle in a certain condition being listed for that amount of time.

In [ ]:
# Create a histogram of days listed by condition
normalize_histogram = True

if normalize_histogram: 
    histnorm = 'probability'
    title='Normalized Histogram of Days Listed by Condition '
else:
    histnorm = ''
    title='Distribution of Days Listed by Condition '
    
fig = px.histogram(vehicles_df, x='days_listed', color='condition', histnorm=histnorm, title=title)


fig.show()

In [ ]:
#Testing with a sample selection of data, if someone selected a manufacturer from the filter
fig2 = px.histogram(df_selected_make, x='days_listed', color='condition', histnorm=histnorm, title=title)

fig2.show()

### Price Distribution

Testing out another idea for a histogram.

In [ ]:
# Create a normalized histogram of price distribution
fig3 = px.histogram(vehicles_df, x='price', nbins=50, histnorm=histnorm, title='Price Distribution')
#st.plotly_chart(fig1)
fig3.show()

### Vehicles by Condition and Fuel Type

In [ ]:
# Create histogram of days listed
fig2 = px.histogram(vehicles_df, x="condition", color='fuel', title='Number of Vehicles by Condition and Fuel Type' )
fig2.show()

## Scatterplot
As part of the assignment, we're asked to display a scatterplot that differs from the lesson example. Exploring a few ideas for what might make for interesting scatterplots of this data. 

I'm exploring: 
- Odometer values,
- Price


### Odometer Readings

In [ ]:
# Create a boxplot to identify outliers for 'odometer'

fig_box_odometer = px.box(vehicles_df, y='odometer', title='Boxplot of Odometer Reading', labels={'odometer':'Odometer Reading'})
fig_box_odometer.show()

**Conclusion:**  There are quite a few outliers for the odometer readings. Interesting, but I don't think it might be more interesting when compared to price. 

### Price

In [ ]:
# Create a boxplot for 'price'
fig_box_price = px.box(vehicles_df, y='price', title='Boxplot of Price', labels={'price':'Price'})
fig_box_price.show()

**Conclusion:** There are also a few outliers here too.


### Days Listed vs Price by Condition

In [ ]:
# Create a scatterplot of price vs. days listed colored by condition
fig_scat1 = px.scatter(vehicles_df, x='price', y='days_listed', color='type', title='Days Listed vs. Price by Condition')
fig_scat1.show()

### Price vs Odometer Reading

I thought this was an interesting visualization, especially if someone is exploring the dataset by year and/or manufacturer.

In [ ]:
# Create a scatterplot of price vs odometer reading

fig_scat2 = px.scatter(vehicles_df, x='odometer', y='price', color='type', title='Price vs. Odometer Reading', labels={'odometer':'Odometer Reading', 'price':'Price'})
#st.plotly_chart(fig_scat2)

fig_scat2.show()

**Addressing project feedback:** In the feedback, it was recommended I remove the 'price' outliers, so let's take a look!

In [ ]:
# Idenitfy the outliers for price

# Calculate IQR for 'price'
Q1_price = vehicles_df['price'].quantile(0.25)
Q3_price = vehicles_df['price'].quantile(0.75)
IQR_price = Q3_price - Q1_price

In [ ]:
# Define the outlier bounds
lower_bound_price = Q1_price - 1.5 * IQR_price
upper_bound_price = Q3_price + 1.5 * IQR_price

In [ ]:
# Filter out outliers
filtered_scat = vehicles_df[(vehicles_df['price'] >= lower_bound_price) & (vehicles_df['price'] <= upper_bound_price)]

In [ ]:
# Create scatterplot with filtered data
fig_scat2 = px.scatter(filtered_scat, x='odometer', y='price', color='type', title='Price vs. Odometer Reading (Filtered)',
                       labels={'odometer':'Odometer Reading', 'price':'Price'})

#st.plotly_chart(fig_scat2)
fig_scat2.show()

# Insights/ Conclusion

By analyzing the vehicle condition, prices, and the relationship between price and odometer readings, we gain a better understanding of the used vehicle market dynamics. These visualizations can help both buyers and sellers make more informed decisions based on data-driven insights.

In [ ]:
# Insights and Conclusion
#st.subheader('Insights')

# st.write("""

# ### Comparing Days Listed by Condition
# This histogram comparing days listed by condition reveals that most vehicles sell in under 50 days, regardlesss of condition. 

# ### Vehicle Prices
# The histogram helps identify the most common price ranges and any significant outliers. 

# ### Price vs. Odometer Reading
# The scatterplot of price vs. odometer reading provides insights into how mileage affects the price of vehicles. Generally, we expect to see that higher mileage vehicles tend to be priced lower. 
# This scatterplot helps validate or challenge that assumption and highlights any interesting patterns or anomalies in the data.

# ### Conclusion
# By analyzing the vehicle prices and the relationship between price and odometer readings, we gain a better understanding of the used vehicle market dynamics. These visualizations can help both buyers and sellers make more informed decisions based on data-driven insights.

# """)